.boombasa-6226
  .boombasa-element.boombasa-element-6ad797be
  > .boombasa-container {
  min-height: 1100px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-6ad797be:not(.boombasa-motion-effects-element-type-background),
.boombasa-6226
  .boombasa-element.boombasa-element-6ad797be
  > .boombasa-motion-effects-container
  > .boombasa-motion-effects-layer {
  background-color: #2a284f;
}
.boombasa-6226
  .boombasa-element.boombasa-element-6ad797be
  > .boombasa-background-overlay {
  background-image: url(../../2019/11/banner-4-transparent-imagepng.webp);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.boombasa-6226 .boombasa-element.boombasa-element-6ad797be {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -101px;
  margin-bottom: 0;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-6ad797be
  > .boombasa-shape-bottom
  svg {
  height: 151px;
  transform: translateX(-50%) rotateY(180deg);
}
.boombasa-6226
  .boombasa-element.boombasa-element-3e49db60
  > .boombasa-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3e49db60
  > .boombasa-element-populated
  > .boombasa-widget-wrap {
  padding: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-679bda23 {
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5a09fa94
  > .boombasa-element-populated
  > .boombasa-widget-wrap {
  padding: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-e99d48f {
  width: auto;
  max-width: auto;
  top: 68px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-e99d48f {
  right: 191px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-e99d48f {
  left: 191px;
}
.boombasa-6226 .boombasa-element.boombasa-element-24b9c54f {
  z-index: 2;
  width: auto;
  max-width: auto;
  top: 444px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-24b9c54f {
  right: 88px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-24b9c54f {
  left: 88px;
}
.boombasa-6226 .boombasa-element.boombasa-element-5ae552eb {
  width: auto;
  max-width: auto;
  top: 0;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-5ae552eb {
  right: 0;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-5ae552eb {
  left: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-7a11a225 {
  margin-top: 0;
  margin-bottom: 0;
  overflow: visible;
}
.boombasa-6226 .boombasa-element.boombasa-element-1daeb192 {
  z-index: 7;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3bea4d4e
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0;
  font-size: 150px;
  font-weight: 900;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3bea4d4e
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226 .boombasa-element.boombasa-element-3bea4d4e {
  width: auto;
  max-width: auto;
  top: -82px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-3bea4d4e {
  left: -200px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-3bea4d4e {
  right: -200px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-40b68d0d
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #fff;
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-40b68d0d
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-40b68d0d
  > .boombasa-widget-container {
  margin: 0 0 40px;
}
.boombasa-6226 .boombasa-element.boombasa-element-40b68d0d {
  z-index: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-441221fa
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-441221fa
  .boombasaskit-section-title-wraper
  p {
  color: #a9a9b8;
  font-size: 18px;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-441221fa
  > .boombasa-widget-container {
  margin: 0 0 40px;
  padding: 0 160px 0 30px;
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: #fff;
  border-radius: 0 0 0 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-33bc68f2 .ekit-btn-wraper {
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button {
  padding: 17px 33px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.3);
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button:not(.ekit_tamaya)
  > .ekit_creative_button_text {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button.ekit_tamaya::before {
  color: #fff;
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button.ekit_tamaya::after {
  color: #fff;
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button
  > i {
  color: #fff;
  padding: 0 0 0 12px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_slide_in_line::after {
  background-color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_creative_button:not(.ekit_tamaya) {
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_distorted_btn
  .ekit_button__bg {
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-33bc68f2
  .ekit_position_aware_bg {
  background-color: #ff8246;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .ekit_social_media {
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-4c22639
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-4c22639
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-7847d8b
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-7847d8b
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-acf69d2
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-acf69d2
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-5de0a91
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .boombasa-repeater-item-5de0a91
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .ekit_social_media
  > li
  > a {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  width: 30px;
  height: 30px;
  line-height: 28px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1b19e5d3
  .ekit_social_media
  > li {
  display: inline-block;
  margin: 0 19px 0 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-1b19e5d3 {
  width: auto;
  max-width: auto;
  bottom: -198px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-1b19e5d3 {
  left: -14px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-1b19e5d3 {
  right: -14px;
}
.boombasa-6226 .boombasa-element.boombasa-element-358f5597 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718
  .boombasa-icon-wrapper {
  text-align: center;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718.boombasa-view-stacked
  .boombasa-icon {
  background-color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718.boombasa-view-framed
  .boombasa-icon,
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718.boombasa-view-default
  .boombasa-icon {
  color: #fff;
  border-color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718.boombasa-view-framed
  .boombasa-icon,
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718.boombasa-view-default
  .boombasa-icon
  svg {
  fill: #fff;
}
.boombasa-6226 .boombasa-element.boombasa-element-4fd37718 .boombasa-icon {
  font-size: 13px;
}
.boombasa-6226 .boombasa-element.boombasa-element-4fd37718 .boombasa-icon i,
.boombasa-6226
  .boombasa-element.boombasa-element-4fd37718
  .boombasa-icon
  svg {
  transform: rotate(0deg);
}
.boombasa-6226 .boombasa-element.boombasa-element-4fd37718 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.boombasa-6226 .boombasa-element.boombasa-element-a0490ae {
  --divider-border-style: solid;
  --divider-color: #01b00d;
  --divider-border-width: 2px;
  width: auto;
  max-width: auto;
  align-self: center;
}
.boombasa-6226
  .boombasa-element.boombasa-element-a0490ae
  .boombasa-divider-separator {
  width: 50px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-a0490ae
  > .boombasa-widget-container {
  margin: 0 22px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .ekit_social_media {
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-4c22639
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-4c22639
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-7847d8b
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-7847d8b
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-acf69d2
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-acf69d2
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-5de0a91
  > a {
  color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .boombasa-repeater-item-5de0a91
  > a
  svg
  path {
  stroke: #fff;
  fill: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .ekit_social_media
  > li
  > a {
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  width: 30px;
  height: 30px;
  line-height: 28px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-553f8819
  .ekit_social_media
  > li {
  display: inline-block;
  margin: 0 19px 0 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-553f8819 {
  width: auto;
  max-width: auto;
  align-self: center;
}
.boombasa-6226 .boombasa-element.boombasa-element-17bf38d9 {
  padding: 117px 0 115px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5ee42045
  > .boombasa-container {
  max-width: 750px;
}
.boombasa-6226 .boombasa-element.boombasa-element-5ee42045 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 30px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  background-color: #01b00d;
  width: 60px;
  margin: 0 0 0 16px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-396ba639
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226 .boombasa-element.boombasa-element-7c765abe {
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d.ekit-equal-height-enable,
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d.ekit-equal-height-enable
  .boombasa-widget-container,
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d.ekit-equal-height-enable
  .ekit-wid-con,
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d.ekit-equal-height-enable
  .ekit-wid-con
  .boombasaskit-info-image-box {
  height: 100%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box.hover-border-bottom
  .boombasaskit-box-body::before {
  height: 3px;
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-box-header
  img {
  padding: 100px 0 95px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-box-header
  img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box.boombasaskit-thumb-card
  > img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box:hover
  .boombasaskit-box-header
  img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box.boombasaskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-box-body {
  padding: 0 45px 44px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  margin: 0 0 35px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-box-content
  :is(.boombasaskit-info-box-title, .boombasaskit-info-box-title a) {
  font-family: poppins, Sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  a {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #3a3a3a;
  fill: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  a {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-box-style-content {
  margin: 0 0 36px;
  font-size: 18px;
  color: #999;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn {
  font-size: 14px;
  font-weight: 600;
  color: #c3bffb;
  background-color: transparent;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn
  i {
  font-size: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg {
  max-width: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg
  path {
  stroke: #c3bffb;
  fill: #c3bffb;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1df5e07d:hover
  .boombasa-widget-container {
  box-shadow: -7px 35px 50px 0 rgba(0, 0, 0, 0.07);
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b.ekit-equal-height-enable,
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b.ekit-equal-height-enable
  .boombasa-widget-container,
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b.ekit-equal-height-enable
  .ekit-wid-con,
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b.ekit-equal-height-enable
  .ekit-wid-con
  .boombasaskit-info-image-box {
  height: 100%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box.hover-border-bottom
  .boombasaskit-box-body::before {
  height: 3px;
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-box-header
  img {
  padding: 100px 0 95px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-box-header
  img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box.boombasaskit-thumb-card
  > img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box:hover
  .boombasaskit-box-header
  img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box.boombasaskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-box-body {
  padding: 0 45px 44px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  margin: 0 0 35px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-box-content
  :is(.boombasaskit-info-box-title, .boombasaskit-info-box-title a) {
  font-family: poppins, Sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  a {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #3a3a3a;
  fill: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  a {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-box-style-content {
  margin: 0 0 36px;
  font-size: 18px;
  color: #999;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn {
  font-size: 14px;
  font-weight: 600;
  color: #c3bffb;
  background-color: transparent;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn
  i {
  font-size: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg {
  max-width: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg
  path {
  stroke: #c3bffb;
  fill: #c3bffb;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-7646ba5b:hover
  .boombasa-widget-container {
  box-shadow: -7px 35px 50px 0 rgba(0, 0, 0, 0.07);
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e.ekit-equal-height-enable,
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e.ekit-equal-height-enable
  .boombasa-widget-container,
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e.ekit-equal-height-enable
  .ekit-wid-con,
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e.ekit-equal-height-enable
  .ekit-wid-con
  .boombasaskit-info-image-box {
  height: 100%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box.hover-border-bottom
  .boombasaskit-box-body::before {
  height: 3px;
  background-color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-box-header
  img {
  padding: 100px 0 95px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-box-header
  img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box.boombasaskit-thumb-card
  > img {
  opacity: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box:hover
  .boombasaskit-box-header
  img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box.boombasaskit-thumb-card:hover
  > img {
  opacity: 1;
  transform: scale(1);
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-box-body {
  padding: 0 45px 44px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  margin: 0 0 35px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-box-content
  :is(.boombasaskit-info-box-title, .boombasaskit-info-box-title a) {
  font-family: poppins, Sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  a {
  color: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #3a3a3a;
  fill: #3a3a3a;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  a {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box:hover
  .boombasaskit-info-box-title
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-box-style-content {
  margin: 0 0 36px;
  font-size: 18px;
  color: #999;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn {
  font-size: 14px;
  font-weight: 600;
  color: #c3bffb;
  background-color: transparent;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn
  i {
  font-size: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg {
  max-width: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn
  svg
  path {
  stroke: #c3bffb;
  fill: #c3bffb;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e
  .boombasaskit-info-image-box
  .boombasaskit-btn:hover
  svg
  path {
  stroke: #01b00d;
  fill: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d2bff4e:hover
  .boombasa-widget-container {
  box-shadow: -7px 35px 50px 0 rgba(0, 0, 0, 0.07);
}
.boombasa-6226 .boombasa-element.boombasa-element-ca8b532 {
  overflow: visible;
  padding: 115px 0 140px;
}
.boombasa-6226 .boombasa-element.boombasa-element-4e3ac45e {
  width: 690px;
  max-width: 690px;
  top: -10px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-4e3ac45e {
  left: -257.694px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-4e3ac45e {
  right: -257.694px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5f198b0b
  > .boombasa-element-populated
  > .boombasa-widget-wrap {
  padding: 0 15px 0 36px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0 0 35px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  width: 0;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-58635e6a
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226
  .boombasa-element.boombasa-element-52ab5772
  .boombasaskit_motion_text_wraper {
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-52ab5772
  .background_reveal_anim
  .elementkit_background_reveal_bg {
  animation-duration: 1s;
  background-color: #2a284f;
}
.boombasa-6226
  .boombasa-element.boombasa-element-52ab5772
  .ekit_motion_text_title {
  color: #2a284f;
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.1px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-52ab5772
  .ekit_motion_text_title
  > a {
  color: #2a284f;
}
.boombasa-6226
  .boombasa-element.boombasa-element-52ab5772
  > .boombasa-widget-container {
  margin: 0 0 15px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5aa1a77c
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0 0 35px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5aa1a77c
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5aa1a77c
  .boombasaskit-section-title-wraper
  p {
  color: #555;
  font-size: 18px;
  margin: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-47e68bdf {
  padding: 130px 0 176px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-48429c67
  > .boombasa-container {
  max-width: 750px;
}
.boombasa-6226 .boombasa-element.boombasa-element-48429c67 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  background-color: #01b00d;
  width: 60px;
  margin: 0 0 0 16px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-357301c7
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226
  .boombasa-element.boombasa-element-1d04bfc4:not(.boombasa-motion-effects-element-type-background),
.boombasa-6226
  .boombasa-element.boombasa-element-1d04bfc4
  > .boombasa-motion-effects-container
  > .boombasa-motion-effects-layer {
  background-color: #2a284f;
  background-image: url("./wp-content/uploads/2019/10/sass-4-tab-bgpng.webp");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1d04bfc4
  > .boombasa-background-overlay {
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.boombasa-6226 .boombasa-element.boombasa-element-1d04bfc4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 175px 0 128px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a698d79
  > .boombasa-container {
  max-width: 750px;
}
.boombasa-6226 .boombasa-element.boombasa-element-4a698d79 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #fff;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  background-color: #01b00d;
  width: 60px;
  margin: 0 0 0 16px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-43d08b60
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226 .boombasa-element.boombasa-element-2fca2f67 {
  z-index: 2;
  width: auto;
  max-width: auto;
  top: 216px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2fca2f67
  .boombasa-widget-container {
  animation-name: swing;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-2fca2f67 {
  right: -96px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-2fca2f67 {
  left: -96px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-wraper.vertical
  .elementkit-tab-nav {
  flex-basis: 45%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-wraper
  .elementkit-nav-link.left-pos
  .boombasaskit-tab-icon {
  margin-right: 0%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-wraper
  .elementkit-nav-link.left-pos
  .ekit-icon-image {
  margin-right: 0%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-wraper
  .elementkit-nav-link {
  justify-content: center;
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-link {
  text-align: left;
  padding: 33px 40px;
  color: #fff;
  background-color: rgba(63, 61, 96, 0.8);
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .boombasa-repeater-item-c480822
  .elementkit-nav-link {
  z-index: 2;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .boombasa-repeater-item-d25d235
  .elementkit-nav-link {
  z-index: 1;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .boombasa-repeater-item-ee5827f
  .elementkit-nav-link {
  z-index: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav {
  padding: 0;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-item
  .elementkit-nav-link {
  font-size: 24px;
  font-weight: 400;
  box-shadow: -45px 45px 65px 0 rgba(0, 0, 0, 0.07);
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-link.active {
  color: #01b00d;
  background-color: #fff;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-item:first-child
  a.elementkit-nav-link {
  border-radius: 15px 15px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-item:last-child
  a.elementkit-nav-link {
  border-radius: 0 0 15px 15px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav.boombasaskit_tab_border_bottm
  .elementkit-nav-item
  .elementkit-nav-link::before {
  width: 4px;
  height: 100%;
  background-color: #01b00d;
  left: 0%;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .boombasaskit_tab_border_bottm.elementkit-tab-nav
  .elementkit-nav-item
  .elementkit-nav-link::before {
  bottom: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .tab-content
  .tab-pane {
  color: #656565;
  padding: 0 0 0 40px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-link
  .boombasaskit-tab-sub-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  .elementkit-tab-nav
  .elementkit-nav-link.active
  .boombasaskit-tab-sub-title {
  color: #0d293b;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5127c34f
  > .boombasa-widget-container {
  padding: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-5127c34f {
  z-index: 3;
}
.boombasa-6226 .boombasa-element.boombasa-element-6bf5c81b img {
  filter: brightness(100%) contrast(32%) saturate(118%) blur(0px)
    hue-rotate(67deg);
}
.boombasa-6226
  .boombasa-element.boombasa-element-6bf5c81b
  .boombasa-widget-container {
  animation-name: ekit-rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.boombasa-6226 .boombasa-element.boombasa-element-6bf5c81b {
  width: auto;
  max-width: auto;
  top: 178px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-6bf5c81b {
  right: -172px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-6bf5c81b {
  left: -172px;
}
.boombasa-6226 .boombasa-element.boombasa-element-5e558ae7 {
  overflow: visible;
  padding: 170px 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0 0 35px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  width: 0;
  margin: 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-4a3d290d
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226
  .boombasa-element.boombasa-element-19178c61
  .boombasaskit_motion_text_wraper {
  text-align: left;
}
.boombasa-6226
  .boombasa-element.boombasa-element-19178c61
  .background_reveal_anim
  .elementkit_background_reveal_bg {
  animation-duration: 1s;
  background-color: #2a284f;
}
.boombasa-6226
  .boombasa-element.boombasa-element-19178c61
  .ekit_motion_text_title {
  color: #2a284f;
  font-family: poppins, Sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.1px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-19178c61
  .ekit_motion_text_title
  > a {
  color: #2a284f;
}
.boombasa-6226
  .boombasa-element.boombasa-element-19178c61
  > .boombasa-widget-container {
  margin: 0 0 15px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d858459
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0 0 35px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d858459
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4d858459
  .boombasaskit-section-title-wraper
  p {
  color: #555;
  font-size: 18px;
  margin: 0;
}
.boombasa-6226 .boombasa-element.boombasa-element-698cced4 {
  width: 690px;
  max-width: 690px;
  top: -8px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-698cced4 {
  left: 150px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-698cced4 {
  right: 150px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-161282c2:not(.boombasa-motion-effects-element-type-background),
.boombasa-6226
  .boombasa-element.boombasa-element-161282c2
  > .boombasa-motion-effects-container
  > .boombasa-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, #f7f9fb 0%, #ffffff 100%);
}
.boombasa-6226 .boombasa-element.boombasa-element-161282c2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 160px 0 116px;
  z-index: 5;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-161282c2
  > .boombasa-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.boombasa-6226
  .boombasa-element.boombasa-element-5939bf17
  > .boombasa-container {
  max-width: 750px;
}
.boombasa-6226 .boombasa-element.boombasa-element-5939bf17 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 50px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  background-color: #01b00d;
  width: 60px;
  margin: 0 0 0 16px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-2cc64018
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226 .boombasa-element.boombasa-element-41feee9 {
  --sassico-working-process-color: #ffa03a;
}
.boombasa-6226 .boombasa-element.boombasa-element-62e48916 {
  padding: 95px 0 85px;
  z-index: 5;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-4b696334
  > .boombasa-container {
  max-width: 920px;
}
.boombasa-6226 .boombasa-element.boombasa-element-4b696334 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 42px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title {
  color: #2a284f;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-title-wraper
  .boombasaskit-section-title
  > span {
  color: #000;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-title-wraper
  .boombasaskit-section-subtitle {
  color: #01b00d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 14px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-subtitle.boombasaskit-style-border::before {
  background-color: #01b00d;
  width: 60px;
  margin: 0 16px 0 0;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  background-color: #01b00d;
  width: 60px;
  margin: 0 0 0 16px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-subtitle.boombasaskit-style-border::before,
.boombasa-6226
  .boombasa-element.boombasa-element-1468d882
  .boombasaskit-section-subtitle.boombasaskit-style-border::after {
  height: 3px;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.boombasa-6226
  .boombasa-element.boombasa-element-63b020cb
  > .boombasa-container {
  max-width: 790px;
}
.boombasa-6226 .boombasa-element.boombasa-element-63b020cb {
  padding: 0;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-66c574b9
  .boombasaskit-funfact
  .funfact-icon
  img {
  margin-bottom: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-66c574b9
  .boombasaskit-funfact
  .funfact-content
  .number-percentage-wraper {
  color: #fc3549;
  font-family: poppins, Sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-66c574b9
  .boombasaskit-funfact
  .funfact-title {
  color: #374a5e;
  font-size: 18px;
  font-weight: 500;
}
.boombasa-6226
  .boombasa-element.boombasa-element-66c574b9
  .boombasaskit-funfact
  .super {
  color: #fc3549;
  font-size: 24px;
  top: -9px;
  left: -5px;
  vertical-align: super;
}
.boombasa-6226
  .boombasa-element.boombasa-element-18dac825
  .boombasaskit-funfact
  .funfact-icon
  img {
  margin-bottom: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-18dac825
  .boombasaskit-funfact
  .funfact-content
  .number-percentage-wraper {
  color: #6610f2;
  font-family: poppins, Sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-18dac825
  .boombasaskit-funfact
  .funfact-title {
  color: #374a5e;
  font-size: 18px;
  font-weight: 500;
}
.boombasa-6226
  .boombasa-element.boombasa-element-18dac825
  .boombasaskit-funfact
  .super {
  color: #6610f2;
  font-size: 24px;
  top: -9px;
  left: -5px;
  vertical-align: super;
}
.boombasa-6226
  .boombasa-element.boombasa-element-506f29ee
  .boombasaskit-funfact
  .funfact-icon
  img {
  margin-bottom: 24px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-506f29ee
  .boombasaskit-funfact
  .funfact-content
  .number-percentage-wraper {
  color: #409af2;
  font-family: poppins, Sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 6px;
}
.boombasa-6226
  .boombasa-element.boombasa-element-506f29ee
  .boombasaskit-funfact
  .funfact-title {
  color: #374a5e;
  font-size: 18px;
  font-weight: 500;
}
.boombasa-6226
  .boombasa-element.boombasa-element-506f29ee
  .boombasaskit-funfact
  .super {
  color: #409af2;
  font-size: 24px;
  top: -9px;
  left: -5px;
  vertical-align: super;
}
.boombasa-6226 .boombasa-element.boombasa-element-210132d6 {
  padding: 128px 0 185px;
  overflow: visible;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3c3a39e8
  .sassico-client-name {
  color: #01b00d;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3c3a39e8
  .sassico-nav-button {
  color: #01b00d;
  border-color: #f0effe;
}
.boombasa-6226
  .boombasa-element.boombasa-element-3c3a39e8
  .sassico-nav-button:hover {
  color: #01b00d;
  border-color: #01b00d;
}
.boombasa-6226 .boombasa-element.boombasa-element-1b004331 {
  width: auto;
  max-width: auto;
  top: 73px;
}
body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-1b004331 {
  left: 48px;
}
body.rtl .boombasa-6226 .boombasa-element.boombasa-element-1b004331 {
  right: 48px;
}
@media (max-width: 1024px) {
  .boombasa-6226
    .boombasa-element.boombasa-element-40b68d0d
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title
    > span {
    color: #fff;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-6ad797be
    > .boombasa-background-overlay {
    background-image: url(../../2019/11/banner-4-transparent-imagempng.webp);
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-441221fa
    .boombasaskit-section-title-wraper
    p {
    color: #fff;
  }
  body:not(.rtl) .boombasa-6226 .boombasa-element.boombasa-element-1b19e5d3 {
    left: 15px;
  }
  body.rtl .boombasa-6226 .boombasa-element.boombasa-element-1b19e5d3 {
    right: 15px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-17bf38d9 {
    padding: 50px 15px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-396ba639
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 30px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-ca8b532 {
    padding: 30px 15px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5f198b0b
    > .boombasa-element-populated
    > .boombasa-widget-wrap {
    padding: 15px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-357301c7
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 30px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-1d04bfc4 {
    padding: 87px 15px 64px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-43d08b60
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 30px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5127c34f
    .elementkit-tab-wraper.vertical
    .elementkit-tab-nav {
    flex-basis: 100%;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5127c34f
    .tab-content
    .tab-pane {
    padding: 30px 0 0;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-5e558ae7 {
    padding: 50px 15px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-210132d6 {
    padding: 92px 0 93.5px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-3c3a39e8
    > .boombasa-widget-container {
    padding: 0 10px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .boombasa-6226 .boombasa-element.boombasa-element-1daeb192 {
    width: 100%;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-251f7a6e {
    width: 50%;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-53624d4e {
    width: 50%;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-5352a869 {
    width: 50%;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-5f198b0b {
    width: 100%;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-5e250794 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .boombasa-6226
    .boombasa-element.boombasa-element-40b68d0d
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 40px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-441221fa
    > .boombasa-widget-container {
    padding: 0 0 0 30px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-17bf38d9 {
    padding: 117px 0 0;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-ca8b532 {
    padding: 100px 0 0;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5f198b0b
    > .boombasa-element-populated
    > .boombasa-widget-wrap {
    padding: 0 15px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-58635e6a
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-52ab5772
    .ekit_motion_text_title {
    font-size: 24px;
    letter-spacing: 0;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5aa1a77c
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-47e68bdf {
    padding: 100px 0 50px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-1d04bfc4 {
    padding: 87.5px 0 64px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5127c34f
    .elementkit-tab-wraper.vertical
    .elementkit-tab-nav {
    flex-basis: 100%;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5127c34f
    .elementkit-tab-nav
    .elementkit-nav-item
    .elementkit-nav-link {
    font-size: 20px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5127c34f
    .tab-content
    .tab-pane {
    padding: 30px 0 0;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-5e558ae7 {
    padding: 90px 0;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-5e250794
    > .boombasa-element-populated
    > .boombasa-widget-wrap {
    padding: 0 20px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-4a3d290d
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-19178c61
    .ekit_motion_text_title {
    font-size: 24px;
    letter-spacing: 0;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-4d858459
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-161282c2 {
    padding: 160px 0 30px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-2cc64018
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-1468d882
    .boombasaskit-section-title-wraper
    .boombasaskit-section-title {
    font-size: 24px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-20e0d56f
    > .boombasa-element-populated {
    margin: 0 0 25px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-68c6ab0
    > .boombasa-element-populated {
    margin: 0 0 25px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .boombasa-6226 .boombasa-element.boombasa-element-210132d6 {
    padding: 92px 0 93.5px;
  }
  .boombasa-6226
    .boombasa-element.boombasa-element-3c3a39e8
    > .boombasa-widget-container {
    padding: 0 10px;
  }
}
